/* refs */
/* http://thecodeplayer.com/walkthrough/css3-family-tree */

html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, rgb(74,28,35), rgb(213,142,51),rgb(232,211,92));   /* #2c90bf, rgb(232,211,92), red); */
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
}

.conteudo {
    max-width: 700px;
    position: relative;
}

header h1 {
    font-size: 3rem;
    font-family: "Montserrat ExtraBold", "Montserrat";
    font-weight: bold;
    margin: 1rem;
    line-height: 1;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

header h1:after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.2);
    margin: 1rem 0;
}

.logo .logo-tt {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.fundo {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    background-image: url("bsb2.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    }

.conteudo main {
    font-family: "Montserrat";
    line-height: 1.5;
}

.apresentacao {
    margin: 1rem;
}

.mapa {
    margin: 1rem;
}

.mapa .componentes {
    display: flex;
    align-items: stretch;
}

.mapa .container-componente {
    border: 1px solid rgb(74,28,35);
    background-color: rgb(74,28,35);
    border-radius: 3%;
    padding: 1rem;
    flex: 1 1 45%;
    /*margin: 0% 1%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.9;
}

.mapa .container-componente:first-child {
    margin-right: 1rem;

}

.container-subcomponente {
    display: flex;
    justify-content: space-evenly;
}

.botao {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 8rem;
    margin: 5% 2.5%;
    display: flex;
    align-items: center;
    height: 8rem;
    border-radius: 100%;
    background-color: rgb(232,211,92);
    transition-property: box-shadow, transform;
    will-change: box-shadow, transform;
}

.botao:hover {
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.botao:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    }

/*.container-subcomponente > li {


}*/

.container-subcomponente > li > a {
   text-decoration: none;
   color: rgb(74,28,35);
   font-size: 0.9rem;
   line-height: 1;
   text-align: center;
   padding: 1rem;
}

.conteudo-adicional {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.conteudo-adicional h2 {
    flex: 1 1 10%;
    font-family: "Montserrat";
    font-weight: 800;
    margin-right: 1rem;
}

.conteudo-adicional p {
    flex: 1 1 60%;
}



@media screen and (max-width: 879px) {
    .logo .logo-tt {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3rem;
    }

    .conteudo {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 699px) {

    header h1 {
        font-size: 1.9rem;
    }

    .mapa .componentes {
        flex-direction: column;
        align-items: center;
    }

    .mapa .container-componente {
        margin: 0 1rem;
        width: 400px;
    }

    .mapa .container-componente:first-child {
        margin-bottom: 1rem;
    }

    .conteudo-adicional {
        flex-direction: column;
    }

    .conteudo-adicional h2 {
        margin-bottom: 0.4rem;
    }

@media screen and (max-width: 420px) {

    .mapa .container-componente {
        width: 96%;
    }
