/* refs */
/* http://thecodeplayer.com/walkthrough/css3-family-tree */

html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, rgb(74,28,35), rgb(213,142,51),rgb(232,211,92));   /* #2c90bf, rgb(232,211,92), red); */
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
}

.conteudo {
    max-width: 700px;
}

header h1 {
    font-size: 3rem;
    font-family: "Montserrat ExtraBold", "Montserrat";
    font-weight: bold;
    margin: 1rem;
    line-height: 1;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

header .logo-tt {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.fundo {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    background-image: url("bsb.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    }

.conteudo main {
    font-family: "Montserrat";
    line-height: 1.5;
}

.apresentacao {
    margin: 1rem;
}

.mapa {
    margin: 1rem;
}

.mapa .componentes {
    display: flex;
    align-items: stretch;
}

.mapa .container-componente {
    border: 1px solid rgb(74,28,35);
    background-color: rgb(74,28,35);
    border-radius: 3%;
    padding: 1rem;
    flex: 1 1 45%;
    margin: 0% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-subcomponente {
    display: flex;
    justify-content: space-evenly;
}

.container-subcomponente > li {
    width: 8rem;
    margin: 5% 2.5%;
    display: flex;
    align-items: center;
    height: 8rem;
    border-radius: 100%;
    background-color: rgb(232,211,92);

}

.container-subcomponente > li > a {
   text-decoration: none;
   color: rgb(74,28,35);
   font-size: 0.9rem;
   line-height: 1;
   text-align: center;
   padding: 1rem;
}

@media screen and (max-width: 879px) {
    header .logo-tt {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 699px) {

    header h1 {
        font-size: 2rem;
    }

    .mapa .componentes {
        flex-direction: column;
        align-items: center;
    }

    .mapa .container-componente {
        margin: 1rem;
        width: 400px;
    }
