/* 1. Base */

html {
    background-color: #5f45bb;
    background-image: linear-gradient(to bottom right, #2c90bf, rgb(232,211,92));
    color: #fff;
    font-family: "Helvetica";
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
}

.conteudo {
    max-width: 600px;
}

header h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    line-height: 1;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.fundo {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

    background-image: url("bsb.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
    }

.conteudo main {
    font-family: "Source Sans Pro"
}

.apresentacao {
    padding: 1rem;
}

.ponto {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: rgb(232,211,92);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    /*padding: 5% 3%;*/
    
}